# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

### DB CONNECTION STRING ###
set mysql_connection_string "server=127.0.0.1;uid=root;database=essentialmode"
set es_enableCustomData 1

#### FIVEM DEFAULT####
start mapmanager
start chat
start spawnmanager
start sessionmanager
start fivem
start hardcap
start rconlog
#ensure scoreboard --- 23/04

# Utility
#start sesx_assets
start bob74_ipl
start loadscreenbase

### MAPAS ####
start hospital_mlo
start multibanco
start postal_map

### MYSQL ASYNC ###
start mysql-async

### ESSENTIAL MODS ####
start essentialmode
start esplugin_mysql
start es_extended

# This allows players to use scripthook-based plugins such as the legacy Lambda Menu.
# Set this to 1 to allow scripthook. Do note that this does _not_ guarantee players won't be able to use external plugins.
sv_scriptHookAllowed 0

# Uncomment this and set a password to enable RCON. Make sure to change the password - it should look like rcon_password "YOURPASSWORD"
rcon_password "pwrcon567!"

# A comma-separated list of tags for your server.
# For example:
sets tags "portugal, otimizado, tmac, economia, novo, abertas"

# A valid locale identifier for your server's primary language.
# For example "en-US", "fr-CA", "nl-NL", "de-DE", "en-GB", "pt-BR"
sets locale "pt-PT"
# please DO replace root-AQ on the line ABOVE with a real language! :)

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
#sets banner_detail "https://url.to/image.png"
#sets banner_connecting "https://url.to/image.png"

# Set your server's hostname
sv_hostname "[PT] TMAC -  | NOVO | OTIMIZADO | RP SERIO | SEMI-WHITELIST | discord.gg/k6rYMTXNYG"
#sv_hostname "A programar Fortnyce"

# Nested configs!
#exec server_internal.cfg

# Loading a server icon (96x96 PNG file)
load_server_icon logo.png

# convars which can be used in scripts
set temp_convar "elite"

# Uncomment this line if you do not want your server to be listed in the server browser.
# Do not edit it if you *do* want your server listed.
#sv_master1 ""

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.steam:11000010ee88319 group.admin # add the admin to the group
add_principal identifier.steam:110000102e7c961 group.admin
add_ace resource.essentialmode command.sets allow
add_ace resource.essentialmode command.add_principal allow
add_ace resource.essentialmode command.add_ace allow

# Hide player endpoints in external log output.
sv_endpointprivacy true

# Server player slot limit (must be between 1 and 32, unless using OneSync)
sv_maxclients 32
set onesync_enabled 0

# Steam Web API key, if you want to use Steam authentication (https://steamcommunity.com/dev/apikey)
# -> replace "" with the key
set steam_webApiKey THEREWASANAPIKEYHERE

# License key for your server (https://keymaster.fivem.net)
sv_licenseKey THEREWASALICENSEKEYHERE

#Connect queue
start connectqueue

# Essentialmode
start essentialmode
###########################################################################################################start es_ui
start es_admin2
start mysql-async
start esplugin_mysql

#discord
start discord_perms
start DiscordWhitelist


# ESX
start async # BASE DE DADOS
start es_extended # ESSENCIAL NAO APAGAR
start instance # ?????????????????????
start esx_menu_default # ???????????
start esx_menu_list # ????????????
start esx_menu_dialog # ??????????????
start esx_voice # falar por voz
start esx_addons_gcphone # telemovel
start gcphone # telemovel
start esx_billing # ????????????????????
start esx_society # ????????????????????
start cron # ??????????????????????
start skinchanger # ???????????????????
start esx_skin # ?????????????????
start esx_addonaccount # dinheiro da faction
start esx_addoninventory # Inventario de faction
start esx_datastore # ???????????????????????
start esx_identity # ESSENCIAL NAO REMOVER (PARA REGISTAR O PLAYER)
start esx_license # licencas de porte de arma e caça
start esx_animations # animacoes
start esx_status # ????????????????????????
start esx_accessories # roupas/acessorios?
start esx_service # ??????????????????????????????
start esx_cruisecontrol # cruise control
start esx_clotheshop # loja de roupas
start esx_basicneeds # fome, sede
start esx_optionalneeds # ficar bebado e drogado
start esx_jobs # trabalhos
start esx_lscustom # customizar carros no mecanico
start esx_joblisting # centro de emprego
start esx_shops # lojas 24/7
start esx_mechanicjob # mecanicos
start esx_vehicleshop # stand de carros
start esx_drugs # drogas
start esx_holdup # assaltos a lojas 24/7
start esx_sit # sentar ??????????????????
start esx_barbershop # cabeleireiro
start esx_dmvschool # escola de conducao
start esx_ambulancejob # trabalho medicos
start esx_policejob # trabalho policia e MENU F10 TODOS OS PLAYERS PODEREM REVISTAR E METER NO CARRO
start esx_marker # blips??????????????
start esx_inventoryhud # hud inventario (e inventario?)
start esx_inventoryhud_trunk # hud mala e mala
start esx_scoreboard # HUD scoreboard
start esx_duty # entrar ou sair de servico
start esx_drp_garage # garagens e ferro velho
start esx_extraitems # ??????????????
start esx_AdvancedFishing # trabalho pesca
start esx_hunting # script caça
start esx_rope # script corda para amarrar
start esx_garbagecrew_v2 # trabalho lixeiro
start esx_thief # script roubar
start esx_spectate # admin spectate
#############################################################################################start speedometer # velocimetro
#############################################################################################start noNPC # remover npcs
start new_banking # banco
start vSync # controlar e sincronizar o tempo para todos
start pNotify # HUD notificacoes
start LegacyFuel # sistema de gasolina
start 3dme # aparece o /me em cima do jogador em 3d
start LRP-JOBminero # trabalho de mineiro
start interact-sound # pacote de sons para o trabalho de mineiro LRP-JOBminero
start Fivem_burglary # assaltar casas de npc
start car_handling # modificar handling dos carros
start radialmenu # roda com animacoes animações
start RadiantAnimations # animacoes animações para a roda
start RealisticVehicleFailure # controlar dano carros
start BrockALPR # radar frontal e traseiro para carros da policia
start esx_heligarage # spawnar helicoptero para a policia
start mythic_notify # HUD notificações
start mythic_progressbar # HUD barra de progressos
start rad_gsr # teste de residuos de polvora para ver se player disparou
start heli # adiciona rappel, camera termica
start lux_vehcontrol # controlar luzes da policia. permite ligar individualmente sinal sonoro e luminoso
start pegarpessoa # /pegar pessoa. funciona em mortos
start esx_givecarkeys # vender carro
start weapons-on-back # mostra a arma nas costas do player
start esx-kr-bag-inventory # script aparece um saco quando temos dinheiro sujo
start esx_liquor # script bebidas
start esx-qalle-jail # script prisao
start esx_trew_hud_ui # velocimetro simples + indicador cinto segurança (+ indicador fome e sede?)
start b2k-minimap-master # Desativar minimapa quando fora do carro
start esx-qalle-sellvehicles # script stand de usados
start croiserbras # script para cruzar bracos
start crouch #script para agachar
start fingerpoint # script para apontar o dedo
start seatchue # impedir que o player troque para o lugar de condutor
start esx_police_cad # autocad da policia
start esx_cichygps # colocar GPS debaixo de carro
start carcontrol # abrir portas de carros e capo
start TakeHostage # /refem para fazer refens
start esx_heal # medico npc para reviver pessoal
start IDsAboveHead # ver ID dos jogadores
start loaf_housing # script comprar casas (1 casa por player e tem garagem) (necessita do HousingShells)
start HousingShells # interior das casas
start esx_lootDeadbody # roubar players mortos
start FiveM-BanSql-1.0.9a # bans na base de dados sql
start esx_outlawalert # a policia é notificada em tiros, roubos, etc...
start esx_locksystem # trancar/destrancar carros
start esx-kr-vehicle-push # arrastar puxar veiculos
start esx_doorlock # trancar portas do departamento psp policia
start esx_jb_trailer # atrelado trailer para os mecanicos
start trailersmall # atrelado add-on para o reboque dos mecanicos
start esx_unicornjob # trabalho vanilla unicorn job
start esx_strippers # spawna npc strippers para o vanilla
start esx_lapdance # script para lapdance no vanilla strippers npc
start modelblacklist # parar o spawn de certos npc veiculos e armas
start esx-checkdeathcause # verificar ver causa da morte
start esx_knatusrobberybank # assalto ao banco
start esx_knatusblowtorch # assalto ao banco dependency
start mhacking # assalto ao banco dependency
start PoliceVehiclesWeaponDeleter # remover armas da policia ao entrar no carro
start esx_mafiajob # faction fazer varias várias mafia mafias
start esx_teleports # teleports para entrar em interiores
start esx_Cargodelivery # trabalho job ilegal ilegais encomendas transportar transporte
######################start esx_truckerjob # trabalho de camionista camiao camioes camião camiões
######################start esx_gopostal # trabalho carteiro (com mota)
start esx_moneywash # faction vanilla lavar dinheiro lavagem black money sujo
start esx_guy293_holsterweapon # animação animacao tirar arma equipar
start esx_copweapon # tazer durar mais tempo stun gun e outras coisas
start nocarjack # lock npc car


#Chat#
start chat-theme-civlifechat
start esx_rpchat # comandos /me /do /twta /twt /ooc
#start es_mapper script /mapper para noclip e programar

#Com erros
#start zffb_dice # script para lançar dado /dado
#####################################################start esx_adminmode # /adminmode para ficarmos invenciveis, etc etc
####################################################start lsrp-motels # motel
######################start el_business-1.57

#CARROS POLICIA PSP E INEM
start PSP_PERSEGUICAO
start PSP_MONTANHA
start INEM_5PT4

#CARROS STAND

restart sessionmanager

exec perms.cfg
